@page "/"

<PageTitle>Index</PageTitle>

<h1>Seguros de Vida</h1>

Aplicacion demo donde podras registrar en base de datos a empleados y sus beneficiarios del seguro de vida.

<SurveyPrompt Title="¿Te gusta este proyecto?" />
